body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.black-1{
    background-color: black;

    
}
